<div class="game-room-container">
    <md-card>
        <md-card-header>
            <md-card-title>Your score: {{playerGameScore}}</md-card-title>
            <md-card-subtitle>{{player?.name}}</md-card-subtitle>
        </md-card-header>
        <md-progress-bar mode="determinate" color="primary" value="{{getQuestionScoreProgress()}}"></md-progress-bar>
        <md-card-title>{{question?.text}}</md-card-title>
        <md-card-content>

            <md-radio-group *ngIf="question?.isRadio" [(ngModel)]="answer">
                <md-radio-button *ngFor="let answer of question.possibleAnswers" [value]="answer.index">{{answer.text}}</md-radio-button>
            </md-radio-group>

            <!--TODO: implement support for checkboxes-->

        </md-card-content>
        <md-card-actions>
            <button md-raised-button [disabled]="checkingAnswer" (click)="answerQuestion()">ANSWER</button>
            <button md-raised-button [disabled]="checkingAnswer" (click)="skipQuestion()">SKIP</button>
        </md-card-actions>
    </md-card>
    <accept-answer-modal #acceptAnswerModal (onClose)="onAcceptAnswerModalClose()"></accept-answer-modal>
    <game-over-modal #gameOverModal (onClose)="onGameOverModalClose()"></game-over-modal>
</div>
<router-outlet></router-outlet>