<div class="waiting-room">
    <countdown-timer [enabled]="countdown.enabled" [time]="countdown.time"></countdown-timer>
    <md-card>
        <md-card-header>
            <md-card-title>
                {{you?.name}}
            </md-card-title>
            <md-card-subtitle>
                press 'ready' when you will be ready
            </md-card-subtitle>
        </md-card-header>
        <md-card-content>
            <table class="table table-hover">
                <tr>
                    <th>Player</th>
                    <th>Status</th>
                </tr>
                <tr *ngFor="let player of players"
                    [ngClass]="{'success': player.state === 'READY', 'warning': player.state !== 'READY'}">
                    <td>{{player.name}}</td>
                    <td>{{player.state}}</td>
                </tr>
            </table>
        </md-card-content>
        <md-card-actions>
            <button md-raised-button (click)="doReady()" [disabled]="isPlayerReady">READY</button>
            <button md-raised-button *ngIf="you?.isAdmin" (click)="copyLinkToJoinRoom()">INVITE</button>
        </md-card-actions>
    </md-card>
</div>
<router-outlet></router-outlet>