.waiting-room {
  margin: 15% 0 0 22%;

  md-card {
    width: 70%;

    button {
      font-weight: bolder;
      color: #424242;
      margin-left: 15px;
    }

    md-card-content {
      th {
        width: 50%;
      }
    }
  }
}