<div class="main-container">
    <md-card>
        <md-cart-header>
            <md-card-title>
                FILL OUT THIS SIMPLE FORM
            </md-card-title>
            <md-card-subtitle>
                ...and press 'enter', genius.
            </md-card-subtitle>
        </md-cart-header>
        <md-card-content>
            <md-input placeholder="Nickname" type="text" [(ngModel)]="nickname" (keyup)="onEnterPressed($event)"></md-input>
        </md-card-content>
    </md-card>
</div>
<router-outlet></router-outlet>