<div class="container">
    <h1>Play here</h1>
    <h3>Your name is {{vm.player.name}}</h3>
    <h3>Your score is {{vm.score}}</h3>
    <hr/>
    <fieldset>
        <legend>{{vm.question}}</legend>
        <label ng-repeat="possibleAnswer in vm.possibleAnswers">
            <input type="radio" name="answer-{{possibleAnswer}}" value="Object.keys(possibleAnswer)[0]" zalupa1="{{Object.keys(possibleAnswer)}}" zalupa2="{{Object.keys(possibleAnswer)[0]}}"> {{possibleAnswer}}
        </label>
        <button ng-click="vm.doAnswer()">Answer</button>
    </fieldset>
</div>